.rectanglebleu{
  height: 200px; /*hauteur*/
  width: 75%; /*largeur*/
  background: #6f9be8;
  float:left;
}
.rectangleviolet{
    height: 200px;
    width: 75%;
    background: #9752b2;
    float:left;
}
.rectanglerose{
  height: 200px;
  width: 75%;
  background: #f75ded;
  float:left;
