/*changer la couleur de chaque section du formulaire*/
#identityInfo {
  background-color: #2574A9
}
#adInfo {
  background-color: #9A12B3
}
#paiementInfo {
  background-color: #DB0A5B
}
#identity {
  background-color: #2574A9
}
#infolivraison {
    background-color: #9A12B3
}
#livraison {
  background-color: #DB0A5B
}
/*determiner une taille fixe à la boite adresse*/
textarea {
  resize: none;
}
/*retirer les puces : list-style-type:none*/
